TENDERMINT_RPC_URL="https://rpc-falcron.pion-1.ntrn.tech"
CHAIN_ID=4003
# If you're using the Succinct network, set SP1_PROVER to "network". Otherwise, set it to "local" or "mock".
SP1_PROVER=cpu
# Only required if SP1_PROVER is set to "network".
SP1_PRIVATE_KEY=